/* Header.js*/
.Header{
    background-color: #353B51; 
    padding: 10px 50px 10px 50px
}

.Title{
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
  cursor: pointer;
}

.Button:hover{
  color: black
}
